.searchResultsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
    /* padding: 1%; */
}

.propertyResult{
    padding: 2rem;
}

.loadingDiv{
    margin: 3rem;
}